html {
background-color: steelblue;

}


h1 {
    font-family: 'Zen Dots', cursive;
    font-size: 50px;
    text-align: center;
    font-weight:lighter;
    color: whitesmoke;
    text-decoration: underline;
}

p {
  font-family: 'Zen Dots', cursive;
  font-size: 40px;
  text-align: center;
  font-weight: normal;
  color: whitesmoke;
}

.imagen {
display: grid;
grid-template-columns: auto  auto;
flex-flow: column;
justify-content: space-around;
padding: auto ;
margin: auto;
border: black, 100px;
}

.ig {
padding: 5px;
width: 600px;
height: 400px;
position: center;

}

li {
  font-size: 50px;
  text-align:left;
  color: whitesmoke;
}


.video {
  position: center;
  overflow:hidden;
  width: 560px;
  padding-top: 2%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 560px;
    height: 315px;
  }

 

a:link{
  color: red;
}
a:visited{
  Color: orange;  
}

a:hover {
  color: blue;
}